

.ggg {
color: darkslategrey;
font-size: 2rem;
background-color: bisque;
padding:0px 0px 0 ;
overflow: scroll;
margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
height: 100px;

}















